@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-popup-close-button{
    display: none !important;
}

.mapboxgl-popup-tip{
    display: none !important;
}

.mapboxgl-popup-content{
    padding: 0px !important;
    min-width: 400px;
    border-radius: 10px !important;
}